*.orig
*.rej
*~
*.o
*.pyc
*.log
tests/*.err
openzwave/*
build/*
dists/*
archive/*
*.egg
docs/_build/*
OZW_Log.txt
OZW_Log.log
python_openzwave.egg-info/*
python_openzwave_api.egg-info/
python_openzwave_lib.egg-info/
lib/libopenzwave.cpp
debian/python-openzwave
zwcfg_*
install.files
src-lib/libopenzwave.so
src-lib/libopenzwave.egg-info/
src-lib/libopenzwave/libopenzwave.cpp
src-api/openzwave.egg-info/
src-manager/pyozwman.egg-info/
.coverage
