*.orig
*.rej
*~
*.o
*.pyc
*.log
tests/*.err
openzwave/*
build/*
python_openzwave.egg-info/*
*.egg
docs/_build/doctrees/*
docs/_build/text/*
OZW_Log.txt
OZW_Log.log
lib/libopenzwave.cpp
debian/python-openzwave
zwcfg_*
install.files
