*.orig
*.rej
*~
*.o
*.pyc
*.log
/openzwave/
build/
dists/
/archive/
*.egg
docs/_build/
OZW_Log.txt
OZW_Log.log
python_openzwave.egg-info/
python_openzwave_api.egg-info/
python_openzwave_lib.egg-info/
lib/libopenzwave.cpp
debian/python-openzwave
pyozw.db
zwcfg_*
zwscene.xml
zwbutton.xml
examples/pyozw.db
examples/zwcfg_*
examples/zwscene.xml
examples/zwbutton.xml
examples/pyozw.sqlite
install.files
src-lib/libopenzwave*.so
src-lib/libopenzwave.egg-info/
src-lib/libopenzwave/libopenzwave.cpp
src-api/openzwave.egg-info/
src-manager/pyozwman.egg-info/
src-web/pyozwweb.egg-info/
.coverage
.tests_user_path/
ftp.sh
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/python-openzwave-api/
debian/python-openzwave-doc/
debian/python-openzwave-lib/
debian/python-openzwave-manager/
debian/python-openzwave-web/
lib.txt
pyozw.sqlite
venv2/
venv3/
.pybuild/
.pypirc
open-zwave-master/
openzwave-git/
openzwave-embed/
tmp/
dist/
docs/html/
docs/joomla/
libopenzwave*.so
.pipcache
