{% extends "layout.html" %}

{% import 'includes.html' as includes %}
{% block head %}
{{ includes.socketio() }}
{{ includes.datatables() }}
<script type="text/javascript" src="/static/js/zwnetwork.js" charset="utf-8"></script>
{% endblock %}

{% import 'widgets.html' as widgets %}
{% block content %}
    <script type="text/javascript" charset="utf-8">
        var namespace = '/ozwave'; // change to an empty string to use the global namespace
        // the socket.io documentation recommends sending an explicit package upon connection
        // this is specially important when using the global namespace
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        // event handler for server sent data
        // the data is displayed in the "Received" section of the page
    </script>

    <script type="text/javascript" src="/static/js/zwnetwork.js"></script>

    <h2>Received:</h2>
    <div id="log"></div>

    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        console.log('Document ready started');
        socket.on('connect', function() {
            socket.emit('my echo event', {data: 'I\'m connected!'});
        });
        // event handler for server sent data
        // the data is displayed in the "Received" section of the page
        socket.on('my echo response', function(msg) {
            $('#log').append('<br>Received echo response #' + msg.count + ' : ' + msg.data['message']);
        });
        socket.on('my network response', function(msg) {
            $('#log').append('<br>Received network response #' + msg.count + ' : ' + msg.data['state']);
        });
        socket.on('my controller response', function(msg) {
            $('#log').append('<br>Received controller response #' + msg.count + ' : ' + msg.data['message']);
        });
        socket.on('my message response', function(msg) {
            $('#log').append('<br>Received message response #' + msg.count + ' : ' + msg.data['state'] + ':' + msg.data['message']);
        });
        socket.on('my command response', function(msg) {
            $('#log').append('<br>Received command response #' + msg.count + ' : ' + msg.data['command']);
        });
        socket.on('my nodes response', function(msg) {
            $('#log').append('<br>Received nodes response #' + msg.count + ' : ' + msg.data);
        });
        socket.on('my node response', function(msg) {
            $('#log').append('<br>Received node response #' + msg.count + ' : ' + msg.data['node_id']);
        });
        socket.on('my values response', function(msg) {
            $('#log').append('<br>Received values response #' + msg.count + ' : ' + msg.data['value_id']);
        });
        socket.on('my value response', function(msg) {
            $('#log').append('<br>Received value response #' + msg.count + ' : ' + msg.data['value_id']);
        });
    } );

    </script>
{% endblock %}
