Source: python-openzwave
Section: python
Priority: optional
Maintainer: Sébastien GALLET <sgallet@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python (>= 2.6.6-3~), python-setuptools,
 python-dev, cython, libopenzwave1.0-dev
Standards-Version: 3.9.1
Homepage: http://www.maartendamen.com/2011/04/py-openzwave-a-python-wrapper-for-open-zwave-released/

Package: python-openzwave
Architecture: any
Depends: libopenzwave1.0, python, ${misc:Depends}, ${python:Depends}
Description: py-openzwave is a python wrapper around the open-zwave project.
 The wrapper allows you to control a z-wave network from python.
 This wrapper is still a work in progress, but the basic skeleton is
 in place (network scanning, and turning a device on or off).
