#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_build:
	python setup-lib.py build --debian-package

override_dh_auto_install:
	cd docs && make html
	cd docs && make text
	python setup-lib.py install --root=debian/python-openzwave-lib/ --install-layout=deb
	rm -rf debian/python-openzwave-lib/usr/config
	rm -rf build
	python setup-api.py install --root=debian/python-openzwave-api/ --install-layout=deb
	rm -rf build
	python setup-manager.py install --root=debian/python-openzwave-manager/ --install-layout=deb
	rm -rf build
	python setup-web.py install --root=debian/python-openzwave-web/ --install-layout=deb
