{% extends "base.html" %}

{% block title %}
    System Status
{% endblock %}

{% block content %}
{% if not wrapper.initialized %}
<div id='top-content'>
    <div class='box'>
        <div class='pad'>
            <span>The system is currently initializing.  This can take a while, especially if the network is large or contains lots of sleeping devices.  Be patient.</span>
        </div>
    </div>
</div>
{% else %}
<div class='footpad'></div>
{% endif %}        
<div id='main'>
    <div id='form-box'>
        <div class='header-title'>
            <h2>System Status</h2>
        </div>
        <div class='fgrp'>
            <div class='pad'>
                <ul>
                    <li>
                        <label for='homeId'>Home ID:</label>
                        <input class='readonly' id='homeId' readonly='readonly' type='text' value="{{ wrapper.homeId }}"/>
                    </li>
                </ul>
                <ul>
                    <li>
                        <label for='library'>Library:</label>
                        <input class='readonly' id='library' readonly='readonly' type='text' value="{{ wrapper.libraryDescription }}"/>
                    </li>
                </ul>
                <ul>
                    <li>
                        <label for='controller'>Controller:</label>
                        <input class='readonly' id='controller' readonly='readonly' type='text' value="{{ wrapper.controllerDescription }}"/>
                    </li>
                </ul>
                <ul>
                    <li>
                        <label for='nodes'>Node Count:
{% if wrapper.initialized %}
                                <a href="nodes">View</a>
{% endif %}
                        </label>
                        <input class='readonly' id='nodes' readonly='readonly' type='text' value="{{ wrapper.nodeCountDescription }}"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
